*,html{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;text-align:left}a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu > div,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp{border:0;margin:0;padding:0;font-size:100%}article,aside,details,figcaption,figure,footer,header,hgroup,menu > div,nav,section{display:block}b,strong{font-weight:bold}img{color:transparent;font-size:0;vertical-align middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}table{border-collapse:collapse;border-spacing:0}th,td,caption{font-weight:normal;vertical-align:top;text-align:left}q{quotes none}q:before,q:after{content:'';content:none}sub,sup,small{font-size:75%}sub,sup{line-height:0;position:relative;vertical-align:baseline}sub{bottom:-0.25em}sup{top:-0.5em}svg{overflow:hidden}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}optgroup{font-weight:bold;position:relative}optgroup option{font-weight:normal;margin-left:10px}a img{border:0}a{text-decoration:none}button:hover{cursor:pointer}i,em{font-style:italic}.hide{display:none}.btn,input[type=button],select{-webkit-appearance:none;}img{max-width:100%;}

.no-js #loader{display:none;}
.js #loader{display:block; position:absolute; left:100px; top:0;}
.se-pre-con{position:fixed; left:0px; top:0px; width:100%; height:100%;	z-index:9999; background:url(../img/loading.gif) center no-repeat #FFF;}

body, html{font:normal 16px/1.4 'Poppins', sans-serif; color:#757575; overflow-x:hidden; font-weight:400;
-o-text-overflow:ellipsis; text-overflow:ellipsis; -webkit-font-smoothing:antialiased; -webkit-text-size-adjust:100%; text-rendering:optimizeLegibility;}
body{background-color:#FFF; overflow-x:hidden; box-sizing:border-box;}
a, .btn, #btt, .smooth{transition:all 0.4s; -moz-transition:all 0.4s; -webkit-transition:all 0.4s; -o-transition:all 0.4s;}
a{color:#E53935; font-weight:600;}
b{font-weight:600;}

.btn{color:#FFF !important; background:#E53935; font-weight:600; display:inline-block; padding:12px 24px; cursor:pointer; box-sizing:border-box; text-transform:uppercase;
background-image:linear-gradient(to right, #E53935 50%, #212121 50%); background-size:201% 100%;
-moz-border-radius:36px; -webkit-border-radius:36px; border-radius:36px;}
.btn:active{-webkit-box-shadow:0 0 2px 0px rgba(33,33,33,0); -moz-box-shadow:0 0 2px 0px rgba(33,33,33,0); box-shadow:0 0 2px 0px rgba(33,33,33,0); color:#FFF !important;}
#btt{cursor:pointer; display:none;}
#btt > div{width:100%; height:100%;}

.clearenter::before, .clearenter::after, 
ul::before, ul::after,
ol::before, ol::after{content:''; display:block; overflow:hidden; visibility:hidden; width:0;}
.clearenter::after, ul::after, ol::after, .clearboth{clear:both;}

.container{padding:60px 0; position:relative; z-index:1; box-sizing:border-box; background:#FFF; min-height:calc(100vh - 60px);}
.container > .underlay, .container > .underlay > .flex_lazy{position:absolute; top:0; left:0; width:100%; height:100%; max-width:none;}
.container > .underlay{z-index:1; background-color:#212121;}
.container > .underlay > .flex_lazy{background-attachment:fixed; opacity:0.25;}
.container > div{max-width:1280px; margin:0 auto; position:relative; z-index:2; padding:0 20px; box-sizing:border-box;}
.container-title{margin-bottom:30px !important;}
.container-title > span{position:relative;}
.container-title h2{font-family:'Oswald',sans-serif; text-transform:uppercase; font-size:48px; padding:10px 0; font-weight:200; text-align:center; color:#212121;}
.container-title h2 > b{font-weight:600; color:#424242;}
.container-title .line, .container-title .line > span{height:3px;}
.container-title .line{position:absolute; bottom:0; left:0; width:100%; background:#E0E0E0;}
.container-title .line > span{position:relative; bottom:0; width:64px; background-color:#E53935;}
.bgnowhite{color:#E0E0E0;}
.bgnowhite .container-title h2{color:#FFF;}
.bgnowhite .container-title .line{background:#9E9E9E;}

.popup-full-content .container-title h2{color:#FFF;}
.popup-full-content .container-title .line{background:#424242;}
.popup-full-content .container-title .line > span{background-color:#E53935;}

.content_center{display:-webkit-flex; display:-ms-flexbox; display:flex; -webkit-align-content:center; align-content:center; -webkit-align-items:center; -ms-flex-align:center; align-items:center;}
.content_center > *{margin:auto;}

.flex_lazy, .flex_thumb, .flex_ori{display:block; overflow:hidden; position:relative; background-color:#EEE; line-height:0;}
.flex_lazy, .flex_thumb{background-repeat:no-repeat; background-size:cover; -webkit-background-size:cover; background-position:center;}
.flex_lazy > img, .flex_thumb > img{opacity:0;}

.thumb169, .thumb916, .thumb11, .thumb43, .thumb34{width:100%; display:block;}
.thumb169:after, .thumb916:after, .thumb11:after, .thumb43:after, .thumb34:after{display:block; content:'';}
.thumb169:after{padding-top:56.25%;}
.thumb916:after{padding-top:146.77%;}
.thumb11:after{padding-top:100%;}
.thumb43:after{padding-top:75%;}
.thumb34:after{padding-top:133.33%;}

#rancak-framework{min-height:calc(100vh - 60px);}

@media screen and (min-width:0px) and (max-width:1023px){
  .lazy_mobile{display:block;}
  .lazy_desktop{display:none;}
}

@media screen and (min-width:1024px){
  a:hover{color:#E53935;}
  .btn:hover{background-position:100% 100%;}
  .lazy_mobile{display:none;}
  .lazy_desktop{display:block;}
}



.section-bg, .section-bg > *{position:absolute; z-index:1; top:0; left:0; width:100%; height:100%;}
.section-bg > *{background-color:transparent; background-attachment:fixed; opacity:0.1;}
.section-content_center{position:relative; z-index:2; padding:40px;}



header{position:fixed; z-index:998; top:0; left:0; width:100%;
transition:all 0.4s; -moz-transition:all 0.4s; -webkit-transition:all 0.4s; -o-transition:all 0.4s;}
header.sticky{background-color:rgba(0,0,0,0.75); -moz-box-shadow:0 0 10px #000; -webkit-box-shadow:0 0 10px #000; box-shadow:0 0 10px #000;}
header.flatcolor{background-color:#000;}
header > div{position:relative; width:100%; max-width:1920px; height:60px;}
header .logo{position:absolute; top:0; left:0; height:100%; padding:0 20px; box-sizing:border-box; opacity:0;}
header .logo.show{opacity:1;}
header .logo img{height:24px;}

menu{position:fixed;}
.menu-link{padding:10px; box-sizing:border-box; color:#FFF;}
.menu-link.curr{color:#E53935 !important;}
.menu-link h2{font-size:16px; position:relative;}
.menu-link h2:after{display:block; content:''; position:absolute; bottom:-2px; left:0; width:100%; height:2px;
transition:all 0.4s; -moz-transition:all 0.4s; -webkit-transition:all 0.4s; -o-transition:all 0.4s;}
.menu-link.curr h2:after{background-color:#E53935 !important;}

@media screen and (min-width:0px) and (max-width:767px){
  .open-menu{position:absolute; right:0; top:0; width:60px; height:100%; font-size:24px; color:#FFF;}
  .open-menu.show{color:#E53935;}
  .menu-overlay{position:fixed; z-index:996; top:0; left:0; width:100%; height:100vh; background-color:rgba(255,255,255,0.5); display:none;}
  menu{z-index:997; top:60px; right:-305px; height:calc(100% - 60px); width:300px; overflow-y:auto; overflow-x:hidden; background:#212121; border-left:1px solid #000;}
  menu.show{right:0;}
  menu > ul{padding:20px;}
  .menu-link h2{margin-left:0;}
}

@media screen and (min-width:768px){
  .open-menu, .menu-overlay{display:none !important;}
  menu{z-index:999; top:0; right:0 !important; height:60px; padding:0 10px;}
  menu > ul > li{float:left;}
  .menu-link{height:60px;}
}

@media screen and (min-width:1024px){
  .menu-link:hover{color:#FFF;}
  .menu-link:hover h2:after{background-color:#FFF}
}



.cover{height:100vh; overflow:hidden; z-index:0; background-color:#212121;}
.cover > *{top:0; left:0; width:100%; height:100%; box-sizing:border-box;}
.cover .cv-vid{position:fixed; z-index:1; opacity:0.4;}
.cover .cv-vid video{position:absolute; top:50%; left:50%; min-width:100%; min-height:100%; width:auto; height:auto; z-index:-100;
-webkit-transform:translateX(-50%) translateY(-50%);
-moz-transform:translateX(-50%) translateY(-50%);
-ms-transform:translateX(-50%) translateY(-50%);
-o-transform:translateX(-50%) translateY(-50%);
transform:translateX(-50%) translateY(-50%);}
.cover .cv-content{position:absolute; z-index:2; padding:40px;}
.cover .cv-content img{width:100%; max-width:640px;}
